.contact {
    width: 100%;
    display: flex;
    /*flex-direction: row;*/
}

.details {
    width: 50%;
    font-size: 25px;
    direction: rtl;
}

.details span{
    font-weight: bold;
}

.contact .forms {
    margin:auto;
    width: 120%;
}